body {
background-color: lightblue;
}

<style>
.rainbow-text {
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	text-shadow: #A3A3A3 1px 1px 1px;
}
.rainbow-text .block-line > span {
	display: inline-block;
}

</style>
